* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --sidebar-child-bottom-margin: 2.25rem;
}

body,
button,
a {
    font-family: 'Segoe UI', 'Roboto', arial, sans-serif;
    color: #fff;
    letter-spacing: .06em;
}

// Paragraph styling
p {
    text-transform: uppercase;
}

.sidebar__group2__desc,
.sidebar__group3__desc {
    text-transform: unset;
}
// End paragraph styling

h1,
h2,
h3 {
    text-transform: uppercase;
}

body {
    min-height: 100vh;
    background-color: #000;
    color: #fff;

    display: grid;
    grid-template-rows: auto 1fr;
}

.nav {
    padding: 1.35rem 2rem;

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;

        &__item__link {
            font-weight: 700;
            text-decoration: none;
        }
    }
}

.tesla-logo {
    width: 100px;
}

.main {
    background-image: url(../images/cybertruck.png);
    background-size: calc(150vw - 435px);
    background-position: calc(20px - 25vw) 50%;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
}

.content {
    display: flex;
    align-items: flex-end;
    justify-content: center;

    &__list {
        display: flex;
        list-style: none;
        margin-bottom: 6rem;

        &__item {
            margin-left: .75rem;
            margin-right: .75rem;

            // Align span children center
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            // Span font styling
            font-size: 1.45rem;
            font-weight: 600;
            text-transform: uppercase;
            
            span:nth-child(1) {
                text-shadow: 0 0 2px #fff;
            }
            span:nth-child(2) {
                font-size: 1rem;
            }
        }
    }
}

.sidebar {
    // Local Vars
    --para-bottom-margin: .5rem;

    padding: 6rem 2rem;

    &__title {
        margin-bottom: var(--sidebar-child-bottom-margin);
    }

    &__group1__para {
        display: flex;
        justify-content: space-between;
    }
}

.buy-btn {
    --notch: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%);
    --notch--outline: polygon(0 0,100% 0,100% calc(100% - 10px),calc(100% - 10px) 100%,0 100%,0 4px,4px 4px,4px calc(100% - 4px),calc(100% - 12px) calc(100% - 4px),calc(100% - 4px) calc(100% - 12px),calc(100% - 4px) 4px,0 4px);

    position: relative;
    margin: 2rem;
    padding: .5rem 6rem;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
    
    background-color: transparent;
    letter-spacing: .06em;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;

    &::before {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        clip-path: var(--notch--outline);
    }

    &::after {
        content: "";
        display: block;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;

        clip-path: var(--notch);
        opacity: 0;
        z-index: -1;
    }
}